extends layout/layout

block vars
    - var pageTitle = 'Главная'
    - var pageBodyClass = 'homepage'
    - var pageMainClass = 'main-index'

block content
    .swiper-container.big-slider
        .swiper-wrapper
            img(src="../assets/imgs/big-slider/slide-1.jpg", alt="Слайд 1").swiper-slide
            img(src="../assets/imgs/big-slider/slide-2.jpg", alt="Слайд 2").swiper-slide
            img(src="../assets/imgs/big-slider/slide-1.jpg", alt="Слайд 3").swiper-slide
            img(src="../assets/imgs/big-slider/slide-2.jpg", alt="Слайд 4").swiper-slide
            img(src="../assets/imgs/big-slider/slide-1.jpg", alt="Слайд 5").swiper-slide
        .swiper-pagination.big-slider__pagination

    .gallery
        .container
            .gallery__wrapper
                mixin gallery-cell(img_src, title)
                    .gallery__cell
                        a(href="#").gallery__cell-link
                            .gallery__cell-title=title
                            .gallery__cell-wrap
                                img(src=img_src, alt=title).gallery__cell-img
                +gallery-cell('../assets/imgs/gallery/foto-1.jpg', 'Новинки')
                +gallery-cell('../assets/imgs/gallery/foto-2.jpg', 'Акции')
                +gallery-cell('../assets/imgs/gallery/foto-3.jpg', 'Костюмы')
                +gallery-cell('../assets/imgs/gallery/foto-4.jpg', 'Смокинги')
                +gallery-cell('../assets/imgs/gallery/foto-5.jpg', 'Брюки')
                +gallery-cell('../assets/imgs/gallery/foto-6.jpg', 'Платья')
                +gallery-cell('../assets/imgs/gallery/foto-7.jpg', 'Блузы')
                +gallery-cell('../assets/imgs/gallery/foto-8.jpg', 'Юбки')
                +gallery-cell('../assets/imgs/gallery/foto-9.jpg', 'Топы и жилеты')
                +gallery-cell('../assets/imgs/gallery/foto-10.jpg', 'Аксессуары')
    
    .about-brand
        h2.about-brand__title О бренде
        .about-brand__wrapper
            .about-brand__frame
                .about-brand__inner
                    .about-brand__shutters--left
                    img(src="../assets/imgs/foto/about-brand.jpg", alt="").about-brand__frame-img
                    .about-brand__shutters--right
            p.about-brand__text  Сегодня ELEAN - это первый в России магазин готового женского смокинга. У нас каждая женщина может подобрать для себя образ со смокингом, такой же как у голливудских див и звезд светской хроники.
            p.about-brand__text  Костюм со смокингом ELEAN - выбор звёзд эстрады и кино, телеведущих, fashion-стилистов, успешных женщин-руководителей, представительниц научной и деловой элиты.
            p.about-brand__text  История бренда началась задолго до первого показа, который состоялся 12 марта 2016 года, с мечты автора коллекции, Елены Писаревой о собственном бренде элегантной одежды и продолжалась долгие 30 лет накопления профессионального опыта. Вся первая коллекция была выполнена из 100% натурального шелка, в нее вошли жентсвенные платья и костюмы.
            .about-brand__text
                a(href="#").about-brand__btn Подробнее

    .showroom-section
        .container
            include components/showroom-gallery
            include components/showroom-form


    .reviews-section 
        .container
            h2.reviews-section__title Наши звёздные клиенты и отзывы
            include components/clients-and-review


    .instagram
        .container
            h2.instagram__title Мы в instagram
            .instagram__wrapper
                mixin instagram(foto_src, avatar_src, name, description)
                    .swiper-slide.instagram__slider-slide
                        .instagram__cell
                            img(src=foto_src, alt="Фотография").instagram__cell-img
                            .instagram__cell-downbar
                                img(src=avatar_src, alt=name).instagram__cell-avatar 
                                .instagram__cell-group
                                    .instagram__cell-name=name
                                    a(href="#").instagram__cell-link Подписаться
                                    .instagram__cell-description=description
                                
            .swiper-container.instagram__slider
                .swiper-wrapper
                    +instagram('../assets/imgs/instagram/foto--1.jpg', '../assets/imgs/instagram/avatar.jpg','elean_official', 'Кофемания / Coffeemania')
                    +instagram('../assets/imgs/instagram/foto--2.jpg', '../assets/imgs/instagram/avatar.jpg','elean_official', 'Кофемания / Coffeemania')
                    +instagram('../assets/imgs/instagram/foto--3.jpg', '../assets/imgs/instagram/avatar.jpg','elean_official', 'Кофемания / Coffeemania')
                    +instagram('../assets/imgs/instagram/foto--4.jpg', '../assets/imgs/instagram/avatar.jpg','elean_official', 'Кофемания / Coffeemania')
                    +instagram('../assets/imgs/instagram/foto--5.jpg', '../assets/imgs/instagram/avatar.jpg','elean_official', 'Кофемания / Coffeemania')
                .swiper-pagination