extends layout/layout
include components/product-card

block vars
    - var pageTitle = 'Страница товара'
    - var pageBodyClass = ''
    - var pageHeaderClass = ''

block content
    .product
        .container
            .product__wrapper
                .product__slider-box
                    .swiper-container.product__slider-main
                        .swiper-wrapper
                            .swiper-slide
                                img(src="../assets/imgs/gallery/foto-11.jpg", alt=name)
                            .swiper-slide
                                img(src="../assets/imgs/gallery/foto-10.jpg", alt=name)
                            .swiper-slide
                                img(src="../assets/imgs/gallery/foto-12.jpg", alt=name)
                            .swiper-slide
                                img(src="../assets/imgs/gallery/foto-13.jpg", alt=name)
                        .swiper-pagination
                .swiper-container.product__slider-additional
                    .swiper-wrapper
                        .swiper-slide
                            img(src="../assets/imgs/gallery/foto-11.jpg", alt=name)
                        .swiper-slide
                            img(src="../assets/imgs/gallery/foto-10.jpg", alt=name)
                        .swiper-slide
                            img(src="../assets/imgs/gallery/foto-12.jpg", alt=name)
                        .swiper-slide
                            img(src="../assets/imgs/gallery/foto-13.jpg", alt=name)
                    .swiper-pagination
                

                .product__inner 
                    .product__name Классическтй комплект со смокингом и желетом
                    .product__price 65 300 
                        span ₽
                    a(href="#").product__favorites
                    .product__size
                        .product__size-title Размер
                        .product__size-selection
                            include components/size-selection
                            +item-size('40', 'size-selection-1', '')
                            +item-size('42', 'size-selection-2', '')
                            +item-size('44', 'size-selection-3', 'not-available')
                            +item-size('46', 'size-selection-4', '')
                            +item-size('48', 'size-selection-5', '')
                            +item-size('50', 'size-selection-6', 'not-available')
                        .product__size-prompt Определите свой размер 
                        .product__size-help Нет вашего размера ?
                    .product__color
                        .product__color-title Цвет
                        ul.product__color-list
                            li.product__color-item.product__color-item--one
                            li.product__color-item.product__color-item--two
                            li.product__color-item.product__color-item--three
                    .product__btn-block             
                        a(href="#").product__btn.product__btn--special Купить
                        a(href="#").product__btn.product__btn--fitting Примерка
                        a(href="#", id="preOrderBtn").product__btn.product__btn--buy Купить в рассрочку
                    .product__description Приталенный силуэт и заостренные лацканы подчеркивают линию талии, визуально корректируя фигуру до желанной всем "песочные часы". Классика женского смокинга, которую одобрил бы сам Ив Сен Лоран.
                    .product__structure
                        span Состав:
                        |  98% шерсть, 2% эластан, отделка шелком

                    .product__tab
                        input(type="checkbox" id="tab1" name="tab-group")
                        label(for="tab1").product__label Параметры
                        ul.product__list
                            mixin product-list-item(naming, value)
                                li.product__list-item
                                    .product__list-naming=naming
                                    .product__list-value=value
                            +product-list-item('Вид застёжки:', 'Пуговица, обтянутая атласом')
                            +product-list-item('Длина изделия:', 'По спинке 69 см')
                            +product-list-item('Крой:', 'Приталенный')
                            +product-list-item('Рисунок:', 'Без рисунка')
                            +product-list-item('Тип карманов:', 'Прорезные "листочки"')
                            +product-list-item('Конструктивные элементы:', 'Рельефные швы')
                            +product-list-item('Материал подкладки:', 'Вискоза 100 %')
                            +product-list-item('Уход за вещами:', 'Химчистка')
                            
                    .product__tab
                        input(type="checkbox" id="tab2" name="tab-group")
                        label(for="tab2").product__label Дополнительно 
                        ul.product__list
                            mixin product-list-item(naming, value)
                                li.product__list-item
                                    .product__list-naming=naming
                                    .product__list-value=value
                            +product-list-item('Для примера:', 'Тут что-то написано')
                            +product-list-item('Для примера:', 'Тут что-то написано')
                            +product-list-item('Для примера', 'Тут что-то написано')
                            +product-list-item('Для примера', 'Тут что-то написано')
    .offer
        .container
            .offer__wrapper
                h2.offer__title Выглядеть блистательно поможет
                
                .swiper-container.offer-slider
                    .swiper-wrapper
                        .swiper-slide 
                            +product-card('../assets/imgs/gallery/foto-111.jpg', 'Платье-смокинг длинное', '24 900 ₽', 'Подчеркнет линию талии', 'qwer118')
                        .swiper-slide 
                            +product-card('../assets/imgs/gallery/foto-112.jpg', 'Белый смокинг и брюки с лампасами', '41 400 ₽', 'Подчеркнет линию талии', 'qwer119')
                        .swiper-slide 
                            +product-card('../assets/imgs/gallery/foto-113.jpg', 'Классический комплект с бабочкой', '51 800 ₽', 'Подчеркнет линию талии', 'qwer120')
                        .swiper-slide 
                            +product-card('../assets/imgs/gallery/foto-114.jpg', 'Блуза с баской', '12 900 ₽', 'Подчеркнет линию талии', 'qwer125')
                    .swiper-pagination.offer-slider__pagination

    .advantages
        .advantages__block.advantages__block--one
            .container
                .advantages__wrapper
                    .advantages__img-box
                        img(src="../assets/imgs/advantages/foto-1.jpg", alt="").advantages__img.advantages__img--one
                    .advantages__inner.advantages__inner--one
                        h2.advantages__title Сшито вручную
                        ol.advantages__list
                            li.advantages__item Уровень пошива приравнивается к индивидуальному;
                            li.advantages__item Создаем лекала для костюмов, которые подчеркивают достоинства и скрывают недостатки фигуры;
                            li.advantages__item Качественное исполнение: ровные отстрочки, красивая обработка – вы можете носить вещи даже изнаночной стороной;
                            li.advantages__item Используем современное оборудование и качественные материалы для изготовления изделий;
                            li.advantages__item Наши швеи занимаются пошивом и конструированием одежды более 20 лет. За это время их навыки доведены до идеала, и они продолжают развиваться и совершенствоваться каждый день.
        .advantages__block.advantages__block--two
            .container
                .advantages__wrapper
                    .advantages__inner.advantages__inner--two
                        h2.advantages__title.advantages__title-two Закажите доставку
                        .advantages__text Закажите доставку с выездным стилистом бренда в удобное место по Москве и МО. Вы сможете оценить посадку, качество изделий и не захотите их снимать!
                        ol.advantages__list.advantages__list--a
                            li.advantages__item Выберите модели для примерки.
                            li.advantages__item Оставьте заявку, нажав на кноку ниже.
                            li.advantages__item Наш стилист подтвердит Вашу заявку и согласует удобное для вас время и место
                            li.advantages__item В назначеное время стилист привезет заказаные модели и проведет консультацию.
                            li.advantages__item Вы можете оплатить понравившиеся модели после примерки.
                            a(href="#").advantages__btn Заказать доставку
                    .advantages__img-box
                        img(src="../assets/imgs/advantages/foto-2.jpg", alt="").advantages__img.advantages__img--two






